-- 1/ Tạo DB + Sử dụng DB
Create Database QueryCondition
Go
Use QueryCondition
Go
	
-- 2/ Tạo các table + Khoá chính
Create Table THAMGIADT
(
	MAGV nchar(3),
	MADT nchar(4),
	STT int,
	PHUCAP float,
	KETQUA nvarchar(10),
	Primary Key (MAGV,MADT,STT)
)
go
	
Create Table KHOA
(
	MAKHOA nchar (4),
	TENKHOA nvarchar (50),
	NAMTL int,
	PHONG char(3),
	DIENTHOAI char(10),
	TRUONGKHOA nchar(3),
	NGAYNHANCHUC datetime,
	primary key (MAKHOA)
)
go
	
create table BOMON
(
	MABM nchar(4),
	TENBM nchar (50),
	PHONG char(3),
	DIENTHOAI char(11),
	TRUONGBM nchar(3),
	MAKHOA nchar (4),
	NGAYNHANCHUC date,
	primary key (MABM)
)
go
	
create table CONGVIEC 
(
	MADT nchar(4),
	SOTT int,
	TENCV nvarchar(50),
	NGAYBD datetime,
	NGAYKT datetime,
	primary key (MADT,SOTT)
)
go
	
create table DETAI
(
	MADT nchar(4),
	TENDT nvarchar(50),
	CAPQL nchar(20),
	KINHPHI float,
	NGAYBD date,
	NGAYKT date,
	MACD nchar(4),
	GVCNDT nchar(3),
	primary key (MADT)
)
go
create table CHUDE
(
	MACD nchar(4),
	TENCD nvarchar(30),
	primary key (MACD)
)
go
	
create table GIAOVIEN
(
	MAGV nchar(3),
	HOTEN nvarchar(50),
	LUONG float,
	PHAI nchar(3),
	NGSINH date,
	DIACHI nchar(50),
	GVQLCM nchar(3),
	MABM nchar(4),
	primary key (MAGV)
)
go
	
create table NGUOITHAN
(
	MAGV nchar(3),
	TEN nchar(12),
	NGSINH datetime,
	PHAI nchar(3),
	primary key (MAGV,TEN)
)
go
	
create table GV_DT
(
	MAGV nchar(3),
	DIENTHOAI char (10),
	primary key (MAGV,DIENTHOAI)
)
go
	
-- 3/ Tạo khoá ngoại
--Tạo khoá ngoại ở bảng THAMGIADT
Alter table THAMGIADT
	add constraint FK_HG1_MADT
	foreign key (MADT, STT)
	references CONGVIEC(MADT,SOTT)
	go
		
--Tạo khóa ngoại ở bảng CONGVIEC
Alter table CONGVIEC
	add constraint FK_HG2_MADT
	foreign key (MADT)
	references DETAI(MADT)
	go
		
--Tạo khóa ngoại ở bảng DETAI
Alter table DETAI
	add constraint FK_HG3_MACD
	foreign key (MACD)
	references CHUDE(MACD)
	go
		
--Tạo khóa ngoại ở bảng DETAI
Alter table DETAI
	add constraint FK_HG4_GVCNDT
	foreign key (GVCNDT)
	references GIAOVIEN(MAGV)
	go
		
--Tạo khóa ngoại ở bảng THAMGIADT
Alter table THAMGIADT
	add constraint FK_HG5_MAGV
	foreign key (MAGV)
	references GIAOVIEN(MAGV)
	go
		
--Tạo khóa ngoại ở bảng GIAOVIEN
Alter table GIAOVIEN
	add constraint FK_HG6_GVQLCM
	foreign key (GVQLCM)
	references GIAOVIEN(MAGV)
	go
			
--Tạo khóa ngoại ở bảng KHOA
Alter table KHOA
	add constraint FK_HG7_TRUONGKHOA
	foreign key (TRUONGKHOA)
	references GIAOVIEN(MAGV)
	go
		
--Tạo khóa ngoại ở bảng NGUOITHAN
Alter table NGUOITHAN
	add constraint FK_HG8_MAGV
	foreign key (MAGV)
	references GIAOVIEN(MAGV)
	go
		
--Tạo khóa ngoại ở bảng GIAOVIEN
Alter table GIAOVIEN
	add constraint FK_HG9_MABM
	foreign key (MABM)
	references BOMON(MABM)
	go
		
--Tạo khóa ngoại ở bảng BOMON
Alter table BOMON
	add constraint FK_HG10_MAKHOA
	foreign key (MAKHOA)
	references KHOA(MAKHOA)
	go
		
--Tạo khóa ngoại ở bảng BOMON
Alter table BOMON
	add constraint FK_HG11_TRUONGBM
	foreign key (TRUONGBM)
	references GIAOVIEN(MAGV)
	go
		
--Tạo khóa ngoại ở bảng GV_DT
Alter table GV_DT
	add constraint FK_HG12_MAGV
	foreign key (MAGV)
	references GIAOVIEN(MAGV)
	go
		
-- 4/ Nhập data
--Nhập data cho bảng CHUDE
Insert Into CHUDE(MACD,TENCD)
values ('NCPT', N'Nghiên cứu phát triển')
Insert Into CHUDE(MACD,TENCD)
values ('QLGD', N'Quản lý giáo dục')
Insert Into CHUDE(MACD,TENCD)
values ('UDCN', N'Ứng dụng công nghệ')
go
	
--Nhập data cho bảng GIAOVIEN
Insert Into GIAOVIEN(MAGV,HOTEN,LUONG,PHAI,NGSINH,DIACHI)
values ('001',N'Nguyễn Hoài An',2000.0,N'Nam','1973-02-15',N'25/3 Lạc Long Quân, Q.10,TP HCM')
Insert Into GIAOVIEN(MAGV,HOTEN,LUONG,PHAI,NGSINH,DIACHI)
values ('002',N'Trần Trà Hương',2500.0,N'Nữ','1960-06-20',N'125 Trần Hưng Đạo, Q.1, TP HCM')
Insert Into GIAOVIEN(MAGV,HOTEN,LUONG,PHAI,NGSINH,DIACHI,GVQLCM)
values ('003',N'Nguyễn Ngọc Ánh',2200.0,N'Nữ','1975-05-11',N'12/21 Võ Văn Ngân Thủ Đức, TP HCM',N'002')
go
	
--Nhập data cho bảng DETAI
Insert Into DETAI(MADT,TENDT,CAPQL,KINHPHI,NGAYBD,NGAYKT,MACD,GVCNDT)
values ('001',N'HTTT quản lý các trường ĐH',N'ĐHQG',20.0,'2007-10-20','2008-10-20',N'QLGD','002')
Insert Into DETAI(MADT,TENDT,CAPQL,KINHPHI,NGAYBD,NGAYKT,MACD,GVCNDT)
values ('002',N'HTTT quản lý giáo vụ cho một Khoa',N'Trường',20.0,'2000-10-12','2001-10-12',N'QLGD','002')
Insert Into DETAI(MADT,TENDT,CAPQL,KINHPHI,NGAYBD,NGAYKT,MACD,GVCNDT)
values ('003',N'Nghiên cứu chế tạo sợi Nanô Platin',N'ĐHQG',300.0,'2008-05-15','2010-05-15',N'NCPT','005')
go
	
--Nhập data cho bảng CONGVIEC
Insert Into CONGVIEC(MADT,SOTT,TENCV,NGAYBD,NGAYKT)
values ('001',1,N'Khởi tạo và Lập kế hoạch','2007-10-20','2008-12-20')
Insert Into CONGVIEC(MADT,SOTT,TENCV,NGAYBD,NGAYKT)
values ('001',2,N'Xác định yêu cầu','2008-12-21','2008-03-21')
Insert Into CONGVIEC(MADT,SOTT,TENCV,NGAYBD,NGAYKT)
values ('001',3,N'Phân tích hệ thống','2008-03-22','2008-05-22')
go
	
--Nhập data cho bảng THAMGIADT
Insert Into THAMGIADT(MAGV,MADT,STT,PHUCAP)
values ('001','002',1,0.0)
Insert Into THAMGIADT(MAGV,MADT,STT,PHUCAP)
values ('001','002',2,2.0)
Insert Into THAMGIADT(MAGV,MADT,STT,PHUCAP,KETQUA)
values ('002','001',4,2.0,N'Đạt')
go
	
--Nhập data cho bảng KHOA
Insert Into KHOA(MAKHOA,TENKHOA,NAMTL,PHONG,DIENTHOAI,TRUONGKHOA,NGAYNHANCHUC)
values (N'CNTT',N'Công nghệ thông tin',1995,'B11','0838123456','002','2005-02-20')
Insert Into KHOA(MAKHOA,TENKHOA,NAMTL,PHONG,DIENTHOAI,TRUONGKHOA,NGAYNHANCHUC)
values (N'HH',N'Hóa học',1980,'B41','0838456456','007','2001-10-15')
Insert Into KHOA(MAKHOA,TENKHOA,NAMTL,PHONG,DIENTHOAI,TRUONGKHOA,NGAYNHANCHUC)
values (N'SH',N'Sinh học',1980,'B31','0838454545','004','2000-10-11')
go
	
--Nhập data cho bảng NGUOITHAN
Insert Into NGUOITHAN(MAGV,TEN,NGSINH,PHAI)
values ('001',N'Hùng','1990-01-14',N'Nam')
Insert Into NGUOITHAN(MAGV,TEN,NGSINH,PHAI)
values ('001',N'Thủy','1994-12-08',N'Nữ')
Insert Into NGUOITHAN(MAGV,TEN,NGSINH,PHAI)
values ('003',N'Hà','1998-09-03',N'Nữ')
go
	
--Nhập data cho bảng GV_DT
Insert Into GV_DT(MAGV,DIENTHOAI)
values ('001','0838912112')
Insert Into GV_DT(MAGV,DIENTHOAI)
values ('001','0903123123')
Insert Into GV_DT(MAGV,DIENTHOAI)
values ('002','0913454545')
go
	
--Nhập data cho bảng BOMON
Insert Into BOMON(MABM,TENBM,PHONG,DIENTHOAI,MAKHOA)
values (N'CNTT',N'Công nghệ tri thức','B15','0838126126',N'CNTT')
Insert Into BOMON(MABM,TENBM,PHONG,DIENTHOAI,MAKHOA)
values (N'HHC',N'Hóa hữu cơ','B44','0838222222',N'HH')
Insert Into BOMON(MABM,TENBM,PHONG,DIENTHOAI,MAKHOA)
values (N'HL',N'Hóa Lý','B42','0838878787',N'HH')
go
	
--Cập nhật thêm dữ liệu cho bảng GIAOVIEN
update GIAOVIEN set MABM = 'MMT' where (MAGV = '001')
update GIAOVIEN set MABM = 'HTTT' where (MAGV = '002')
update GIAOVIEN set MABM = 'HTTT' where (MAGV = '003')
update GIAOVIEN set MABM = 'VS' where (MAGV = '004')
update GIAOVIEN set MABM = N'VLĐT' where (MAGV = '005')
update GIAOVIEN set MABM = 'VS' where (MAGV = '006')
update GIAOVIEN set MABM = 'HPT' where (MAGV = '007')
update GIAOVIEN set MABM = 'HPT' where (MAGV = '008')
update GIAOVIEN set MABM = 'MMT' where (MAGV = '009')
update GIAOVIEN set MABM = 'HPT' where (MAGV = '010')
GO	